2023_01_11_venv/env
2023_01_26_fastapi/FST/venv
2023_01_26_fastapi/freecodecamp_class/venv
2023_01_26_fastapi/FST2/.venv
2023_02_09_fastapi_sqlmodel/.venv
2023_02_16_automacao/avaliacao-automatica/.venv
2023_02_16_automacao/desafio_automacao/.venv